.header{
    background-color: #171d25;
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}

.menu li img{
    width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.menu li a{
    text-decoration: none;
    color: gray;
    margin: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size:larger;
    font-weight: 1000;
}

.Games{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.Games li a{
    text-decoration: none;
    color: gray;
    margin: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size:larger;
    font-weight: 1000;
}


.Games li a:hover{
    color: #568fb8;
    text-decoration: underline;
}

