footer{
    display: flex;
    align-items: end;
    background-color: #171d25;
    justify-content: center;
    bottom: 0;
    margin-top: auto;
    justify-self: end;
    width: 100%;
}
a img{
    margin: 10px;
    width: 50px;
}