<section class="menu" *ngIf="!isGame">
    <app-leadboard [leadboard]="getLeaderboardGame2()"></app-leadboard>
    <button (click)="starGame()">Start</button>
</section>

<section class="game" *ngIf="isGame">
    <div>
    <p [ngClass]="color">{{timer}}</p> 
    <span [ngClass]="color">Puntaje: {{score}}</span>
    </div>
    <img src="{{currentGame.image}}" alt="Game Image">
    <search-bar (button)="ComparedGames($event)"></search-bar>
    <br>
    <button (click)="chengeGame()">Next</button>
</section>
