<section *ngIf="!isGame">
    <app-leadboard [leadboard]="leaderBoard"></app-leadboard>
    <button (click)="startGame()">Start</button>
</section>

<section *ngIf="isGame">
    <span>Puntaje: {{score}}</span>
    <div class="imagen">
        <h3>{{currentGame.name}}</h3>
        <img src="{{currentGame.image}}" alt="{{currentGame.name}} Image">
    </div>
    <h3>{{currentGame.rating}}</h3>
    <div class="imagen">
        <h3>{{compareGame.name}}</h3>
        <img src="{{compareGame.image}}" alt="{{compareGame.name}} Image">
    </div>
    <br>
    <button (click)="guessGame(true)">Menor/Igual</button>
    <button (click)="guessGame(false)">Mayor</button>
</section>
