<section class="menu" *ngIf="!isGame">
    <app-leadboard [leadboard]="leaderBoard"></app-leadboard>
    <button (click)="startGame()">Start</button>
</section>

<section class="juego"  *ngIf="isGame">
    <span class="score">Puntaje:{{score}}</span>
    <div class="imagen">
        <h3>{{currentGame.name}}</h3>
        <img  src="{{currentGame.image}}" alt="{{currentGame.name}} Image">
        <h2 class="actual">{{currentGame.rating}}</h2>
    </div>
    
    <div class="imagen">
        <h3>{{compareGame.name}}</h3>
        <img src="{{compareGame.image}}" alt="{{compareGame.name}} Image">
        <div class="botones">
        <button (click)="guessGame(false)">Mas</button>
        <button (click)="guessGame(true)" >Menos</button>
        </div>
    </div>
</section>
