.redMax{
    color: red;
    font-weight: bold;
}

.redMin{
    color: red;
    font-weight: bold;
}

.green{
    color: green;
    font-weight: bold;
}

.red{
    color: red;
    font-weight: bold;
}