.comparedGames {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: gray;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
}

search-bar{
    display: flex;
    justify-content: center;
    margin: 100px;
}


.comparatorContainter{
    min-height: 67vh;
}
