ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

li {
    display: contents;
}

li:nth-child(even) {
    background-color: #f2f2f2;
}

span {
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: none;
}