div{
    border-color: #75b7e6;
    border-style: solid;
    padding:10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
    margin: 20px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-color: #75b7e6;
    border-style: ridge;
    margin: 10px;
    
}

li{
    color: #75b7e6;
    font-size: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

li:nth-child(odd) {
    background-color: #171d25;
  }






