ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color : white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

li{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    width: 500px;
    
}

li img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}




